/* =======================================================
    Site content
   ======================================================= */

#content {
  @include clearfix;
	padding-top: $pad;
	padding-bottom: $pad;
	overflow: hidden;
}