/* =======================================================
    Lists
   ======================================================= */

//
//  Inline lists
//

.inline-list {
    @include zero;
    > li {
        display: inline-block;
        list-style: none;
        margin-right: .25em;
        &:last-child {
          margin-right: 0;
        }
    }
}

//
//  Slat list
//

.slat-list {
  border-bottom: $border-width $border-style $border-color;
  margin-left: 0;
  padding-left: 0;
  > li {
      list-style: none;
      border-top: $border-width $border-style $border-color;
      padding: $space-half 0;
  }

  // Bordered slat list

  &-bordered {
    > li {
      border: $border-width $border-style $border-color;
      border-bottom-width: 0;
      padding: $space-half;
    }
  }
}

//
// Headline list
//

.headline-list {
    margin-bottom: $space;

    &.flush {
        margin: 0;
    }

    h4 {
        font-weight: normal;
    }

    li {
        padding: $pad-quarter 0;
        border-top: 1px solid $gray-light-3;
    }
}

//
// Post list
//

.post-list {
    li {
        margin-bottom: $space;
    }
}

//
// Bullet list
//

.bullet-list {
    list-style: disc;
    margin: 0 0 $space 1.2em;
    line-height: 1.5;

    li {
        margin-bottom: $space;
    }
}

//
// Numbered list
//

.numbered-list {
    margin: 0 0 $space 1em;
    line-height: 1.5;

    li {
      list-style-type: decimal;
        margin-bottom: $space;
    li {
      list-style-type: upper-alpha; // A. , B. , C.
      li {
        list-style-type: lower-roman; // i. , ii. , iii.
        li {
          list-style-type: lower-alpha; // a. , b. , c.
        }
      }
    }
    }
}

//
// Text list
//

.text-list {
    margin: 0 0 $space;
    line-height: 1.5;

    li {
        margin-bottom: $space;
    }
}