/* =======================================================
    Toggle
   ======================================================= */

/*
Markup:

<div class="toggle">
  <a class="is-active" href="#">My Practice</a>
  <a href="#">Me</a>
</div>
*/

// Variables

$toggle-border-color: $white;
$toggle-border-color-hover: $white;
$toggle-border-color-active: $white;

$toggle-background-color: transparent;
$toggle-background-color-hover: rgba(255,255,255,.15);
$toggle-background-color-active: $white;

$toggle-color: $white;
$toggle-color-hover: $white;
$toggle-color-active: darken($nr-blue, 15);

$toggle-font-size: $font-size-small;

// Styles

.toggle {
  display: table-row;

  > a {
    display: table-cell;
    position: relative;
    z-index: 1;
    border: 1px solid $toggle-border-color;
    &:nth-child(2n) {
      position: relative;
      left: -1px;
    }
    &:first-child {
      @include border-left-radius($btn-border-radius);
    }
    &:last-child {
      @include border-right-radius($btn-border-radius);
    }
    padding: {
      left: $space-quarter;
      right: $space-quarter;
    }
    min-width: 44px;
    font-size: $toggle-font-size;
    font-weight: $font-weight-headline;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    background-color: $toggle-background-color;
    color: $toggle-color;

    &.is-active {
      background-color: $toggle-background-color-active;
      color: $toggle-color-active;
      z-index: 2;
      border-color: $toggle-border-color-active;
      pointer-events: none;
    }

    &:hover {
      background-color: $toggle-background-color-hover;
      border-color: $toggle-border-color-hover;
      color: $toggle-color-hover;
      z-index: 3;
    }

  }
}

// Mode toggle styles
// These can also be applied via the "is-active" class above

.practitioner-mode-on #modelink-practitioner,
.practitioner-mode-off #modelink-user {
  background-color: $toggle-background-color-active;
  color: $toggle-color-active;
  z-index: 2;
  border-color: $toggle-border-color-active;
  pointer-events: none;
}