/* =======================================================
    Wireframe objects
   ======================================================= */

[class*='wire'] {
	background-color: $gray-light-2;
	color: $black;
	padding: $space-double $space;
	text-align: center;
}

.wire-thin {
  padding-top: $space-quarter;
  padding-bottom: $space-quarter;
}

.wire-small {
  padding-top: $space;
  padding-bottom: $space;
}

.wire-medium {
  padding-top: $space-quad;
  padding-bottom: $space-quad;
}

.wire-large {
  padding-top: $space*8;
  padding-bottom: $space*8;
}

.wire-huge {
  padding-top: $space*12;
  padding-bottom: $space*12;
}