//
// Grids
//

// Grid containers

.g {
  clear: both;
  @include clearfix;
  @include zero;
  > li,
  > div {
    @include zero;
    margin-bottom: $space;
  }
  > li {
    list-style: none;
  }
}

/* TODO: Add grid heder and grid footer things */

.gi {
  width: 100%;
  @include zero;
  margin-bottom: $space;
}

.gi-compact {
  margin-bottom: $space-half;
}

.gi-flush {
  margin-bottom: 0;
}

.gi-bordered {
  border-top: $border-width $border-style $border-color;
  padding-top: $space-half;
}

//
//  2-up grid
//

.g-2up {

  @include breakpoint($bp-med) {
    .gi,
    > div,
    > li {
      @include gallery(6);
      margin-bottom: $space;
    }
  }

}

//
//  3-up grid
//

.g-3up {

  @include breakpoint($bp-med) {
    .gi,
    > div,
    > li {
      @include gallery(4);
      margin-bottom: $space;
    }
  }

}

//
//  3-up max grid
//

.g-3up-max {

  @include breakpoint($bp-med $bp-large) {
    .gi,
    > div,
    > li {
      @include gallery(4);
      margin-bottom: $space;
    }
  }

  @include breakpoint($bp-large) {
    .gi,
    > div,
    > li {
      @include gallery(4);
      margin-bottom: $space;
    }
  }

}

//
//  4-up grid
//

.g-4up {

  @include breakpoint($bp-med) {
    .gi,
    > div,
    > li {
      @include gallery(3);
      margin-bottom: $space;
    }
  }

}